{
  "presets": [
    "babel-preset-react-app",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-module-exports"
  ]
}
